 * {
    box-sizing: border-box;
 }

 body {
    margin: 0;
    padding: 0;
    font-family: 'Impact Roman', 
    BlinkMacSystemFont, 'cursive', cursive, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f4d9f3;
    height: 100%;
 }